.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 576px) {
        flex-direction: row;
        align-items: flex-start;
    }

    margin-top: 1rem;

    .filters {
        flex: 1;
        min-width: 240px;
        max-width: 300px;

        .filters-container {
            margin-top: 1rem;
        }
    }
}

.perfumes-search {
    flex: 1;
    padding: 0 1rem;

    .p-inputtext:-webkit-autofill,
    .p-inputtext:-webkit-autofill:focus {
        transition: background-color 600000s 0s, color 600000s 0s;
    }
}

.products {
    margin-top: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 576px) {
        margin-top: 0;
        display: block;

    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 300px);
        grid-gap: 40px;

        margin-top: 2rem;

        .grid-item {
            min-width: 300px;
        }
    }
}

.user-actions-bar {
    display: flex;
    @media (min-width: 576px) {
        justify-content: flex-end;
    }

    .sort-dropdown {
        margin-right: 1rem;

        width: 170px;
        height: 40px;
    }
}

.add-perfume-link {
    text-decoration: none;
}

.paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-self: center;
}
