.flex-container {
    display: flex;

    .guidelines-panel {
        flex: 1 1 auto;

        max-width: 300px;
        .guidelines-link {
            margin-top: 1rem;
        }
    }

    .details-panel {
        max-width: 966px;

        flex: 1 1 auto;
    }

    .input-wrapper {
        margin-bottom: 1rem;
    }

    .add-perfume-form {
        margin-top: 1rem;
    }

    .bottle-size-multiselect {
        max-width: 1000px;
    }

    .p-inputgroup > .p-component,
    .p-inputgroup > .p-inputwrapper > .p-inputtext,
    .p-inputgroup > .p-float-label > .p-component {
        border-radius: 4px;
    }

    .p-inputnumber-buttons-stacked {
        .p-inputnumber-input {
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
    }

    .p-field,
    .p-editor-container,
    .p-fileupload {
        width: 100%;
    }

    .year-input-label {
        .p-inputnumber {
            width: 100%;
        }
    }

    .button-row{
        display:flex;
        justify-content: flex-end;
    }
}
