.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 576px) {
        justify-content: space-between;
        flex-direction: row;
    }

    .nav-item-list {
        display: flex;
        flex-direction: column;

        @media (min-width: 576px) {
            flex-direction: row;
        }

    }

    .nav-link {
        display: flex;

        font-size: 20px;
        padding: var(--space-xxs);

        color: black;
        text-decoration: none;
        font-family: "Elsie", cursive;
    }

    .nav-user-actions {
        display: flex;
        align-items: stretch;

        .nav-item-user-action {
            display: flex;
            align-items: center;

            margin: 0 1rem 0 1rem;

            .custom-user-btn {
                padding: 0;
                .user-icon {
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
        }
    }
}
