.p-panel {
    box-shadow: none !important;
}

.brand-search {
    width: 100%;
}

.p-datatable-brands {
    .p-datatable-thead {
        tr:first-child {
            th {
                display: none;
            }
        }

        > tr > th {
            padding-left: 0.5em !important;
        }
    }

    .brands-filter-header {
        width: 2em;
    }
}

.clear-filters {
    padding: 0.5rem 1rem;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: 0.75rem 0rem 0.75rem 0.5rem !important;
}

.gender-filter-group {
    padding: 0rem 0.5rem;
    margin-bottom: 1rem;
    .p-checkbox-label {
        margin-left: 0.75rem;
    }
}


