.year-filter-wrapper {
    padding: 0.5rem;

    .year-slider {
        margin: 0.5rem;
    }

    .year-filter-input {
        width: 100%;
    }

    .year-row {
        width: 7rem;
    }

    .year-controls {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
}
